html {
    height: 100%
}

body {
    height: 100%;
    font-family: 'Lato', 'Karla', sans-serif;
    letter-spacing: 0.1px;
}

#root {
    height: 100%
}

.navbar-custom {
    background-color: #6200ee;
    color: white;
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: white;
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color:white;
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: white;
}

/* for dropdown only - change the color of droodown */
.navbar-custom .dropdown-menu {
    background-color: #ff5500;
}
.navbar-custom .dropdown-item {
    color: white;
}
.navbar-custom .dropdown-item:hover,
.navbar-custom .dropdown-item:focus {
    color: white;
    background-color: rgba(255,255,255,.5);
}

p, li, ul {
    font-size: 14pt;
}

a {
    background-color: #6200ee;
    color: yellow;
}

a:active {
  color: whitesmoke;
}

.agenda {
    width: 100%;
    height: 100%;

    border-color: black;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    color: white;
    margin-bottom: 10px;

    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}

.agenda-col-1 {
    background-color: #DE6C70;
}

.agenda-col-2 {
    background-color: #76C4AE;
}

.agenda-col-3 {
    background-color: #DDB0A0;
}

.agenda-col-4 {
    background-color: #CABD80;
}

.btn-primary-spacing
{
    margin-right: 5px;
    margin-bottom: 5px !important;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

textarea {
  width: 100%;
  height: 100vw;
  border: none;
  font-size: 14px;
}
