html {
    height: 100%
}

body {
    height: 100%;
    font-family: 'Playfair Display', sans-serif;
}

#root {
    height: 100%
}

.sidebar {
    background: blue;
    height: 100%;
    width: 20%  !important;
    display: block;
    /*align-items: initial;*/
}

.header {
    color: white;
}