html {
    height: 100%
}

body {
    height: 100%;
    font-family: 'Lato', 'Karla', sans-serif;
    letter-spacing: 0.1px;
}

#root {
    height: 100%
}

.navbar-custom {
    background-color: #6200ee;
    color: white;
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: white;
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color:white;
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: white;
}

/* for dropdown only - change the color of droodown */
.navbar-custom .dropdown-menu {
    background-color: #ff5500;
}
.navbar-custom .dropdown-item {
    color: white;
}
.navbar-custom .dropdown-item:hover,
.navbar-custom .dropdown-item:focus {
    color: white;
    background-color: rgba(255,255,255,.5);
}

p, li, ul {
    font-size: 14pt;
}

a {
    background-color: #6200ee;
    color: yellow;
}

a:active {
  color: white;
}

.agenda {
    width: 100%;
    height: 100%;

    border-color: black;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    color: white;
    margin-bottom: 10px;

    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}

.agenda-col-1 {
    background-color: #4D394B;
}

.agenda-col-1:hover {
  background-color: #3E313C;
}

.agenda-col-1 a {
  color: #eb4d5c;
  background-color: #4D394B;
}

.agenda-col-1 a:hover {
  color: #eb4d5c;
  background-color: #3E313C;
}

.agenda-col-2 {
    background-color: #0D7E83;
}

.agenda-col-2:hover {
  background-color: #076570;
}

.agenda-col-2 a {
  color: #94E864;
  background-color: #0D7E83;
}

.agenda-col-2 a:hover {
  color: #94E864;
  background-color: #076570;
}

.agenda-col-3 {
    background-color: #4D5250;
}

.agenda-col-3:hover {
    background-color: #444A47;
}

.agenda-col-3 a {
    color: #D39B46;
    background-color: #4D5250;
}

.agenda-col-3 a:hover{
    color: #D39B46;
    background-color: #4D5250;
}

.agenda-col-4 {
    background-color: #4F2F4C;
}

.agenda-col-4:hover {
  background-color: #452842;
}

.agenda-col-4 a {
  color: #D0FF00;
  background-color: #4F2F4C;
}
.btn-primary-spacing
{
    margin-right: 5px;
    margin-bottom: 5px !important;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

textarea {
  width: 100%;
  height: 100vw;
  border: none;
  font-size: 14px;
}
